*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-background-colour: linear-gradient(153deg, rgba(255, 255, 255, 1) 0%, rgba(255, 242, 190, 1) 31%, rgba(255, 230, 128, 1) 66%);
    --main-font-colour: #000000;
    --heading-font:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --third-heading-colour: rgba(7, 78, 0, 0.685);
    --white: aliceblue;

}

.heading{
    font-family: var(--heading-font);
    text-transform: capitalize;
    font-size: 4rem;
}

section {
    height: 100vh;
}


/* Home Page */
.welcome, .contact{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0;
    height: 60%;
}

.marlon{
    background-image: url(/photos/marlon.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    width: 400px;
    height: 400px;
}

.brief-container{
    width: 50%;
    padding:80px;
    border-left: 5px solid var(--main-font-colour);
    margin-left: 10px;
}

.sub-heading{
    text-transform: capitalize;
    font-size: 1.5rem;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.career, .name{
    padding: 10px 0;
}

.third-heading{
    text-transform: capitalize;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: var(--third-heading-colour)
}

/* About Section */

@keyframes brainSpinning{
    from {rotate: 0deg;}
    to {rotate: 360deg;}
}

@keyframes showAbout{
    0%{
        translate: 0 50px;
    }

    100%{
        translate: 0 0;
    }
}

.about{
    font-size: 2rem;
    padding: 10px;
    text-align: center;
}

.about-container{
    background-image: url(/photos/about_bkgd.jpg);
    background-size: cover;
    color: var(--white);
}

.intro-about{
    position: relative;
    width: 50%;
    border: 2px inset var(--white);
    padding: 30px;
    border-radius: 30px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    word-spacing: 1.5px;
}



.about-container > div{
    position: relative;
    top: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 200px;
    width: 100%;
}

.animate-about{
    animation-name: showAbout;
        animation-duration: 2s;
        animation-iteration-count: 1;
}

/* 
.about-video{
    position: absolute;
    width: 100%;
    height: 100%;

} */



/* Projects */
.projects{
    font-size: 2rem;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.project-container{
    display: inline-block;
    width: 350px;
    padding: 20px;
    border: 2px outset var(--white);
    margin-left: 50px;
    margin-bottom: 50px;
    border-radius: 50px;
    background: var(--white);
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.473);
}

.projects-container{
    height: max-content;
}
    
.project-image{
    min-width: 100%;
    min-height: 300px; 
}

.project-image:hover{
    transform:translateY(10) ;
    cursor: pointer;
}

.project-description{
    padding: 20px;
}

/* Contact */
.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.contact-info{
    padding: 20px;
    font-size: 2rem;
    list-style-type: none;
    color: var(--main-font-colour);
}

.location, .email{
    padding: 0 20px;
    color: var(--third-heading-colour);
}

.email-link{
    text-decoration: none;
    color: var(--main-font-colour);
}

.copyright-container{
    background-color: var(--main-font-colour);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    height: 10vh;
}

.social-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.social-container li{
    list-style-type: none;
    padding: 50px;
}

.social-links{
    color: var(--main-font-colour);
    font-size: 4rem;
}

.visit{
    width: 50%;
    padding: 10px;
    font-size: 1.25rem;
    letter-spacing: 2px;
    background-color: rgb(0, 140, 255);
    color: aliceblue;
    border: 1px outset black;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.364);
    border-radius: 10px;
    cursor: pointer;
}